* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f2;
  color: #313133;
  min-height: 100%;
  min-width: 950px;
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; */
/* font-family: 'Times New Roman', Times, serif; */
font-family: sans-serif;
}

.boxTop {
  padding: 0 100px;
  margin-top: 16px;
}

.flex {
  display: flex;
  align-items: center;
}

.paySell {
  align-items: center;
  padding: 0 100px;
}
.sell {
  gap: 4px;
  flex: 40%;
}

.sell a:hover {
  text-decoration: underline;
}

.sellLink {
  color: orange;
  font-size: 12px;
  font-weight: 600;
}

.jumiapay {
  flex: 50%;
  gap: 16px;
  align-items: center;
}

.jumiapay a {
  color: gray;
}

.jumiapay a:hover {
  color: blue;
}

/* nav */

nav {
  background-color: white;
  padding: 16px 0;
  /* position: fixed; */
  /* height: 76px; */
  margin-top: 8px;
}
.nav {
  padding: 0 100px;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  z-index: 1000;
  position: relative;
}

.fixedNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  border: 1px solid gray;
  width: 39.5vw;
  padding: 12px;
  gap: 16px;
  border-radius: 4px;
}
.searchInput input {
  border: 0;
  outline: 0;
  width: 100%;
}
.jumialogo {
  color: #313133;
  flex: 1;
}
.formInpIcon {
  flex: 5;
  gap: 20px;
}

.searchInput i {
  color: gray;
}

.Input::placeholder {
  font-size: 16px;
}

.searchInputing {
  gap: 8px;
}

.nav button {
  outline: 0;
  border: 0;
  padding: 13px;
  color: white;
  background-color: orange;
  border-radius: 4px;
  box-shadow: 4px 4px 4px #f1f1f2;
}
.nav button:hover {
  background-color: darkorange;
}

.navIcons {
  gap: 18px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
}

.navIcons a {
  gap: 12px;
  color: #313133;
  font-size: 16px;
}

.navIcons a:hover {
  color: orange;
}

.cartNo{
  background-color: orange;
   padding: 2px; 
    font-size: 10px; 
    color: white; 
    border-radius: 50px;
    height: 14px;
     width: 14px;
     text-align: center;
     position: relative;
     bottom: 8px;
     right: 66px;
}

/* the nav .dropDown */
.dropDownContent {
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  box-shadow: 0 0 3px 5px #f1f1f2;
  position: absolute;
  left: 68%;
  width: 15%;
  border-radius: 4px;
  z-index: 1000;
  /* top: 14%; */
}

.dropDownSignDiv {
  padding: 12px;
}
.dropDownSign {
  background-color: orange;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: white;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 2px 3px #f1f1f2;
  /* justify-content: center; */
  width: 95%;
  font-weight: 500;
}
.dropDownlinkDiv {
  padding: 0 8px 8px 8px;
}

.dropDownlinkDiv a {
  margin-top: 16px;
  color: #313133;
  font-size: 15px;
}

.dropDown hr {
  border-top: 0.8px solid gray;
}
.dropDownLinks {
  gap: 16px;
}

.accountsDropDown.active,
.help.active {
  background-color: gray;
  display: flex;
  padding: 10px;
  border-radius: 4px;
  color: black;
}
.acccountText{
  width: 65px;
   max-width: 100px;
}

#dropDownIcon {
  transition: transform 0.3s ease;
}

#logoutBtn{
  /* background-color: orange; */
  /* text-align: center; */
  color: orange;
  font-size: 16px;
 justify-content: center;
 /* padding: 10px; */
}

.fa-caret-down {
  transform: rotate(0deg);
}

.fa-caret-up {
  transform: rotate(180deg);
}

.activ {
  display: flex;
  /* background-color: white; */
}

/* main */

main {
  height: 380px;
}
.mainDiv {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}
.sideBar {
  background-color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 4;
  /* width: 100%; */
 border-radius: 4px;
  padding: 8px;
  height: 380px;
  box-sizing: border-box;
}
.sideBar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sideBar a {
  color: #313133;
}

.sideBar a:hover {
  color: orange;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
}

.spanDot {
  gap: 0;
  position: relative;
  bottom: 40px;
  transition: background-color 0.6s ease;
}

.slideShow {
  margin: auto;
  /* position: relative; */
  max-width: 1000px;
  /* height: 380px; */
}
.slideShowDiv {
  flex: 3;
  box-sizing: border-box;
  position: relative;
  /* height: 380px; */
}

.imgShow {
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  height: 380px;
}

.sideSlide{
  display: flex;
  /* gap: 32px; */
  gap: 16px;
  flex: 6;
}

.active {
  background-color: orange;
}

.change {
  animation: change;
  animation-duration: 6s;
}

@keyframes change {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.callToAction {
  flex: 1;
  gap: 16px;
  flex-direction: column;
  box-sizing: border-box;
  height: 380px;
}

.callToActionFDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.call {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.jumiaEarn {
  border-radius: 4px;
}

/* the linking in the sidebar */

.appliances {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  display: none;
  gap: 20px;
  padding: 4px;
  height: 380px;
  box-sizing: border-box;
 color: #838385;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
}
.appliances div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.appliances p {
  font-size: 13px;
}

/* sections */

.section2Container {
  flex-direction: column;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  gap: 12px;
}

.section2Container img {
  width: 100%;
  border-radius: 4px;
}

.section2Container p {
  font-size: 14px;
  color: #313133;
}

.boxContainer {
  gap: 8px;
}

.boxContainer a {
  transition: transition 0.3s, box-shadow 0.3s ease;
}
.boxContainer a:hover {
  box-shadow: 0 0 5px 5px #f1f1f2;
  border-radius: 4px;
  transform: scale(1.02);
  display: inline-block;
}

/* section3 */

.section3Container {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  gap: 8px;
  box-sizing: border-box;
}

.posters img {
  border-radius: 4px;

  transition: transition 0.3s, box-shadow 0.3s ease;
}

.section3Container img {
  width: 32.875%;
}

.posters img:hover {
  box-shadow: 0 0 5px 5px #f1f1f2;
  border-radius: 4px;
  transform: scale(1.02);
  display: inline-block;
}
